/* ----------------------------- YekanBakh ----------------------------- */
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 100;
    src: url("../public/fonts/Vazirmatn-Thin.ttf") format("truetype");
  }
  
  @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 200;
    src: url("../public/fonts/Vazirmatn-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 300;
    src: url("../public/fonts/Vazirmatn-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/Vazirmatn-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 600;
    src: url("../public/fonts/Vazirmatn-ExtraBold.ttf") format("truetype");
  }
  