@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Vazir';
    src: url('./assets/fonts/Vazirmatn-Thin.ttf') format('ttf'),
        url('./assets/fonts/Vazirmatn-Regular.ttf') format('ttf'),
        url('./assets/fonts/Vazirmatn-Medium.ttf') format('ttf'),
        url('./assets/fonts/Vazirmatn-ExtraBold.ttf') format('ttf'),
        url('./assets/fonts/Vazirmatn-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


:root {
    font-family: Vazir, sans-serif !important;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.muirtl-pdct74-MuiTablePagination-selectLabel,
.MuiTablePagination-selectLabel {
    font-family: Vazir;
    font-weight: bold
}


input,
textarea,
select {
    @apply border-[1px] border-slate-200 rounded-md p-2 py-2 w-full outline-slate-400;
    @apply mb-2;
}

select {
    @apply cursor-pointer;
}


input:focus,
textarea:focus,
select:focus {
    @apply border-slate-400;
}


h1 {
    @apply text-gray-800 mb-4 text-xl;
}


label {
    @apply text-gray-500 text-sm;
}


.btn-primary {
    @apply bg-blue-500 text-white px-4 py-[0.33rem] rounded-md;
}


table.basic {
    @apply w-full bg-white rounded-sm shadow-md;
}


table.basic thead tr td {
    @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}


table.basic tr td {
    @apply px-4 py-2;
}


table.basic a {
    @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}


.btn-red,
.btn-default {
    @apply px-4 py-1 rounded-md;
}


.btn-red {
    @apply bg-red-200 text-red-600 px-4 py-1;
}



.btn-default {
    @apply bg-gray-600 text-white px-4 py-1;
}