@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.swiper-pagination-bullet {
    width: 13px !important;
    height: 7px !important;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
    width: 22px !important;
}