@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazirmatn-Thin.ttf') format('truetype'),
        url('/fonts/Vazirmatn-Regular.ttf') format('truetype'),
        url('/fonts/Vazirmatn-Medium.ttf') format('truetype'),
        url('/fonts/Vazirmatn-Bold.ttf') format('truetype'),
        url('/fonts/Vazirmatn-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.5rem;
    box-sizing: border-box;

    --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

#mui-component-select-size {
    color: black;
}

select {
    @apply cursor-pointer;
}

.text-offer {
    text-decoration: line-through;
}

.swiper-pagination span {
    @apply bg-black text-black scale-95;
}

.swiper-pagination .swiper-pagination-bullet-active {
    @apply bg-transparent w-3 border-[1.5px] border-slate-950 scale-125;
}